body {
  background: #000000;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Bebas Neue', cursive;
  font-size: larger;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
  display: none;
}

th {
  text-align: left;
}

td, th {
  padding: 10px;
  margin: 0px;
}

th:first-child, td:first-child {
  padding-left: 50px;
}

th:last-child, td:last-child {
  padding-right: 20px;
}

thead {
  font-style: italic;
}

.players {
  max-width: 850px;
  min-width: 850px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon-container {
  max-width: 850px;
  min-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-icon {
  padding: 10px;
}

.menu-icon:hover {
  animation: shake 0.32s cubic-bezier(.20,.07,.19,.70) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: steelblue;
  padding: 10px;
  border-radius: 10px;
}

.icon-row {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
}

.odd {
  background: #383838;
}

.matches {
  padding-top: 30px;
  padding-bottom: 20px;
}

.match-box {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  position: relative;
  cursor: pointer;
}

.banner-p1 {
  position: absolute;
  top: 80px;
  left: 19px;
  cursor: inherit;
}

.banner-p2 {
  position: absolute;
  top: 11px;
  left: 350px;
  cursor: inherit;
}

.banner {
  width: 500px;
  height: 119px;
  cursor: inherit;
}

.vs-logo {
  width: 70px;
  height: 70px;
}

.button {
  opacity: 0.9;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
}

.player-list {
  font-size: larger;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.player-list:hover {
  background-color: aliceblue;
  color: black;
}

.player-heading {
  color: cadetblue;
  padding-left: 10px;
  padding-right: 10px;
}

.selected {
  background-color: green;
}

.selected.player-list:hover {
  background-color: darkgray;
  color: black;
}

.qc-icon {
  padding-bottom: 2px;
  padding-left: 5px;
}

.character-icon {
  padding-right: 6px;
  vertical-align: middle;
  margin-top: -2px;
}

.mugshot {
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 8px;
}

.placement {
  width: 15px;
  text-align: right;
}

.derp {
  position: absolute;
  border-radius: 20px;
  width: 60px;
  height: 60px;
}

.fixed {
  height: 84px;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 8px;
  background-color: indianred;
}

.back:hover {
  background-color: red;
}

.challonge {
  background-color: #002F3E;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.challonge-container {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.player-row {
  opacity: 0;
}

.player-row:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}

.fade-in {
  animation: fadein 2s;
  opacity: 1;
}

.highlight {
  background-color: cadetblue;
}

.player-row.highlight:hover {
  background-color: aqua;
}

.dim {
  opacity: 0.2
}

.loading {
  padding: 100px;
  min-height: 1000px;
}

.centered {
  display: flex;
  justify-content: center;
}

.place {
  width: 70px;
}

.player {
  width: 245px;
}

.main {
  width: 185px;
}

.secondary {
  width: 236px;
}


.resolvefight {
  background-color: darkslategray;
  width: 100%;
  height: 100vh;
}

.resolved-container {
  flex-direction: column;
  background-color: #383838;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.footer {
  margin-bottom: 80px;
  margin-top: 50px;
  font-size: xx-small;
}
