body {
  background: #000000;
  color: #FFFFFF;
}

.odd {
  background: #383838;
}

.icon-row {
  display: inline-block;
}

.match-box {
  width: 100%;
  padding: 20px;
}

.challonge-container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.player-list {

}

.selected {
  background-color: #006a9a;
}

.challonge {
  background-color: #002F3E;
}

.dim {
  opacity: 0.2
}
