body {
  color: #FFFFFF;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bold;
  background-image: url(images/background-red.png);
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #000000 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  font-family: 'Audiowide', cursive;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #bafcff;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #000000 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-family: 'Audiowide', cursive;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #bafcff;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.no-border-dim {
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #222222 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0px;
}

hr {
  width: 100%;
}

th {
  text-align: left;
}

p {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

.main-loader {
  vertical-align: middle;
  margin-left: 50px;
  margin-bottom: 6px;
}

.MuiButton-contained.Mui-disabled {
  opacity: 0.1;
}

.button {
  margin: 10px;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #000000 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #9e729e;
  font-family: 'Audiowide', cursive;

}
.button > span > span > span  {
  opacity: 1;
  color: #ff0076;
}

.button.tiny {
  margin: 3px;
  font-size: 12px;
}

.button.tight {
  margin: 0;
}

#root {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 19, 1) 800px, rgba(0, 0, 19, 1) 70%, rgba(222, 56, 107, 1) 100%);
}

.relative {
  position: relative;
}

.loader-position {
  position: absolute;
  top: 25px;
  left: 201px;
  pointer-events: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challange-player-list {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
  width: 330px;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 25px;

  th {
    font-size: medium;
    color: #bafcff;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  .right {
    text-align: right;
  }

  .mono {
    font-family: monospace;
  }

  .icon {
    width: 26px;
    text-align: center;
  }

  td {
    padding: 2px;
  }
}

.matches {
  margin-top: 20px;
  margin-bottom: 10px;
}

.match-card {
  cursor: pointer;
  position: relative;
  width: 490px;
  height: 100px;
  margin: 8px;
  box-shadow: 0px 0px 12px 0px #c500d6;
  background: rgba(70, 0, 59, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-card:hover {
  background: rgba(144, 0, 121, 0.5);
}

.match-card-character {
  position: absolute;
  width: 100px;
  height: 100px;
}

.match-card-character.left {
  top: -19px;
  left: 5px;
}

.match-card-character.right {
  bottom: -10px;
  right: 3px;
}

.match-card-name {
  position: absolute;
  font-size: 17px;
  background: rgba(0,0,0, 0.5);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 18px;
}

.match-card-name.p1 {
  bottom: 7px;
  left: 10px;
}

.match-card-name.p2 {
  top: 5px;
  right: 5px;
}

.match-card-vs-logo {
  width: 60px;
  height: 60px;
}

.banner-container {
  position: relative;
  cursor: pointer;
}

.banner-p1 {
  position: absolute;
  top: 80px;
  left: 19px;
  cursor: inherit;
}

.banner-p2 {
  position: absolute;
  top: 11px;
  left: 350px;
  cursor: inherit;
}

.banner {
  width: 500px;
  height: 119px;
  cursor: inherit;
}

.vs-logo {
  width: 70px;
  height: 70px;
}

.button {
  opacity: 0.9;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  box-shadow: 0px 0px 5px 5px #de144c87;
}

.invisible {
  visibility: hidden;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
}

.player-list {
  font-size: larger;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.player-list:hover {
  background-color: aliceblue;
  color: black;
}

.player-heading {
  color: cadetblue;
  padding-left: 10px;
  padding-right: 10px;
}

.selected {
  background-color: rgb(222, 30, 123);
}

.button-holder {
  height: 230px;
}

.qc-icon {
  padding-bottom: 2px;
  padding-left: 5px;
}

.character-icon {
  padding-right: 6px;
  vertical-align: middle;
  margin-top: -2px;
}

.mugshot {
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 12px;
}

.placement {
  width: 15px;
  text-align: right;
}

.derp {
  position: absolute;
  border-radius: 20px;
  width: 60px;
  height: 60px;
}

.fixed {
  height: 84px;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 60px;
  padding-left: 20px;
  padding-top: 8px;
  color: white;
}

.back:hover {
  color: #de1e7b;
}

.resolved-container {
  box-shadow: 0px 0px 12px 0px #c500d6;
  background: rgba(160, 0, 135, 0.2);
  margin-bottom: 17px;
}

.fit-to-screen-height {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last {
  margin-bottom: 70px;
}

.matchup-large-portraits {
  display: flex;
  min-width: 850px;
  justify-content: space-between;
}

.matchup-large-portraits > img {
  width: 375px;
  height: 375px;
}

.matchup-icons {
  flex-basis: 200px;
  min-width: 1000px;
  max-width: 1000px;
}

.winner-text {
  flex-basis: 60px;
}

.scoreset {
  h1 {
    font-size: 100px;
  }
}

.challonge {
  background-color: #000900;
  background-image: url(images/background-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.matches-insert {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
  align-items: baseline;
}

.challonge-container {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.content-separator {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  max-width: 1300px;
  padding-top: 20px;
}

.players {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,157,214,1);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,157,214,1);
  box-shadow: 0px 0px 12px 0px rgba(0,157,214,1);

  min-width: 530px;
  flex-basis: 40%;

  td, th {
    padding: 10px;
    margin: 0px;
  }

  th:first-child, td:first-child {
    padding-left: 50px;
  }

  th:last-child, td:last-child {
    padding-right: 20px;
  }

  thead {
    font-style: italic;
  }
}

.feed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 60%;
  font-size: x-large;
  margin-left: 80px;
  margin-right: 80px;
}

.add {
  cursor: pointer;
  position: absolute;
  top: 236px;
  right: 46px;
  font-size: 60px;
  fill: white;
}

.add:hover {
  fill: #99f0ff;
}

.lower {
  top: 310px;
}

.odd, .even {
  background-color: rgba(120, 15, 70, 0);
  opacity: 0;
}

.odd:hover, .even:hover, .fade-in-highlight:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}

.fade-in-highlight:hover {
  background-color: rgb(6, 86, 117);
  color: white;
}

.highlight {
  background-color: rgba(14, 188, 255, 0);
  opacity: 0;
}

.fade-in-highlight {
  animation: fadeRowHighlight 0.5s;
  background-color: rgba(14, 188, 255, 1);
  color: #222222;
  opacity: 1;
}

.fade-in-odd {
  animation: fadeRowOdd 0.5s;
  background-color: rgba(120, 15, 70, 0.8);
  opacity: 1;
}

.fade-in-even {
  animation: fadeRowEven 0.5s;
  background-color: rgba(120, 15, 70, 0.3);
  opacity: 1;
}

.shake {
  animation: shake 0.32s cubic-bezier(.20,.07,.19,.70) both;
}

.dim {
  opacity: 0.2
}

.loading {
  padding: 100px;
  min-height: 1000px;
}

.place {
  width: 16px;
}

.player {
  width: 330px;
}

.main {
  width: 40px;
}

.secondary {
  width: 40px;
}


.resolvefight {
  background: #0a0200;
  background-image: url(images/background-green.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character-portrait {
  border: 2px solid #be0dea;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 500px;
}

.character-portrait:hover {
  border: 2px solid #d776ef;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 500px;
  position: relative;
  cursor: pointer;
}

.footer {
  margin-bottom: 80px;
  margin-top: 50px;
  font-size: xx-small;
}

.resolve-icon {
  background: rgba(0, 0, 0, 0.6);
  height: 80px;
  margin: 0px;
  display: flex;
  flex-direction: column;    
  justify-content: center;
}

.resolve-icon.middle {
  border-top: 1px solid #34c159;
}

.resolve-icon.left {
  padding-right: 490px;
  padding-left: 30px;
}

.resolve-icon.right {
  padding-left: 490px;
  padding-right: 30px;
}

.icon-placeholder {
  height: 80px;
  margin: 0px;
}

@media only screen and (max-width: 1300px) {
  .content-separator {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: larger;
  }

  .players {
    width: 70%;
  }

  #root {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 19, 1) 500px, rgba(0, 0, 19, 1) 70%, rgba(222, 56, 107, 1) 100%);
  }
}

@media only screen and (max-width: 800px) {
  .players {
    width: 100%;
  }


  .challange-player-list {
    width: unset;
  }

  .spacer {
    padding-left: 0px;
    padding-right: 0px;
  }

  #root {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 19, 1) 350px, rgba(0, 0, 19, 1) 70%, rgba(222, 56, 107, 1) 100%);
  }
}
