body {
  background: #000000;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
  display: none;
}

th {
  text-align: left;
}

td, th {
  padding: 10px;
  margin: 0px;
}

th:first-child, td:first-child {
  padding-left: 50px;
}

th:last-child, td:last-child {
  padding-right: 20px;
}

thead {
  font-style: italic;
}

.players {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 355px;
}

.menu-icon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.odd {
  background: #383838;
}

.icon-row {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  background-color: cadetblue;
}

.matches {
  padding-top: 30px;
  padding-bottom: 20px;
}

.match-box {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 500px;
}

.vs-logo {
  width: 70px;
  height: 70px;
}

.in-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

.player-list > div {
  padding: 7px;
  margin: 5px;
  font-size: larger;
}

.selected {
  background-color: #006a9a;
}

.challonge {
  background-color: #002F3E;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.challonge-container {
  display: flex;
  justify-content: space-between;
}

.dim {
  opacity: 0.2
}

.loading {
  padding: 100px;
}

.centered {
  display: flex;
  justify-content: center;
}

.resolvefight {
  background-color: darkslategray;
  width: 100%;
  height: 100vh;
}

.resolved-container {
  flex-direction: column;
  background-color: #383838;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.footer {
  margin-bottom: 80px;
  margin-top: 50px;
  font-size: xx-small;
}
