
body {
  color: #FFFFFF;
  background: #000019;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bold;
}

canvas {
  margin: 0;
  padding: 0;
} 

h1 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #000000 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  font-family: 'Audiowide', cursive;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #bafcff;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #000000 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-family: 'Audiowide', cursive;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #bafcff;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
}

th {
  text-align: left;
  padding: 10px;
}

p {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}
