
.hidden {
  display: none;
}

.relative {
  position: relative;
}

.invisible {
  visibility: hidden;
}

.center {
  text-align: center;
}

.fit-to-screen-height {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
