.no-border-dim {
  background: linear-gradient(to bottom, #000000 0%, #03b3e4 25%, #FFFFFF 49%, #222222 50%, #e51f80 75%, #FFFFFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0px;
}
