
.match-card {
  cursor: pointer;
  touch-action: manipulation;
  position: relative;
  width: 490px;
  height: 100px;
  margin: 8px;
  box-shadow: 0px 0px 12px 0px #c500d6;
  background: rgba(70, 0, 59, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-card:hover {
  background: rgba(144, 0, 121, 0.5);
}

.match-card-character {
  position: absolute;
  width: 100px;
  height: 100px;
}

.match-card-character.left {
  top: -19px;
  left: 5px;
}

.match-card-character.right {
  bottom: -10px;
  right: 3px;
}

.match-card-name {
  position: absolute;
  font-size: 17px;
  background: rgba(0,0,0, 0.5);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 18px;
}

.match-card-name.p1 {
  bottom: 7px;
  left: 10px;
}

.match-card-name.p2 {
  top: 5px;
  right: 5px;
}

.match-card-vs-logo {
  width: 60px;
  height: 60px;
}

.resolved-container {
  position: relative;
  box-shadow: 0px 0px 12px 0px #c500d6;
  background: rgba(160, 0, 135, 0.2);
  margin-bottom: 17px;
  transition: all 0.5s ease-out;
  cursor: help;
}

.resolved-container:hover {
  background: rgba(144, 0, 121, 0.5);
}

.spacers {
  margin: 15px;
}

.wide {
  width: 300px;
}

.p1-name {
  position: absolute;
  font-size: 14px;
  top: 5px;
  left: 10px;
  width: 90px;
}

.p2-name {
  position: absolute;
  font-size: 14px;
  top: 5px;
  right: 10px;
  text-align: right;
  width: 90px;
}

.date {
  position: absolute;
  color: grey;
  font-size: 10px;
  bottom: 6px;
  left: 10px;
  font-weight: bold;
}

.score-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  align-items: center;
}

.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
